
.thumbnail-seccion__image-1{
    right: 151px;
    top: 48px;
}
.thumbnail-seccion__image-2{
    top: 25px;
    right: 515px;
}
.thumbnail-seccion__image-3{
    top: 86px;
    right: 477px;
    z-index: 2;
}
.thumbnail-seccion__image-4{
    right: 179px;
    bottom: -22px;
    z-index: 2;
}
.thumbnail-seccion__image-5{
    right: 331px;
    bottom: -15px;
}
.thumbnail-seccion__image-6{
    right: 249px;
    bottom: 182px;
}
