<!--thumbnail section-->

<div class="wrapper-content">
    <div class="row">
        <div class="col-md-6">
            <div class="thumbnail-seccion-container__data">
                <h2 class="animate__animated">Nuevo Modelo TI</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                <div class="thumbnail-seccion-container__action-buttons">
                    <button>Gestión del OPEX</button>
                    <button>Gestión de PROYECTOS CAPEX</button>
                    <button>Gobierno TI</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="assets/image/Nuevo-Modelo-TI/mancha.png" alt="mancha" class="thumbnail-seccion__image-1" />
            <img src="assets/image/Nuevo-Modelo-TI/pensamiento.png" alt="pensamiento"
                class="thumbnail-seccion__image-2" />
            <img src="assets/image/Nuevo-Modelo-TI/persona-1.png" alt="persona-1"
                class="thumbnail-seccion__image-3" />
            <img src="assets/image/Nuevo-Modelo-TI/persona-2.png" alt="persona-2"
                class="thumbnail-seccion__image-4" />
            <img src="assets/image/Nuevo-Modelo-TI/planta.png" alt="planta" class="thumbnail-seccion__image-5" />
            <img src="assets/image/Nuevo-Modelo-TI/tablero.png" alt="tablero"
                class="thumbnail-seccion__image-6" />
        </div>

    </div>
</div>