 <!--hero-->
 <div class="hero-content " id="top">
    <div class="hero-content__background-color">
        <div class="wrapper-content">
            <div class="logo animate__animated animate__fadeInDown"><img src="assets/image/hero/logo.png" alt="logo"></div>
            <div class="hero-content__title">
                <p class="animate__animated animate__fadeInLeft">{{textMock.textInitHero}}</p>
                <h1 class="animate__animated animate__fadeIn">{{textMock.titleHero}}</h1>
                <p class="animate__animated animate__fadeInUp">{{textMock.descriptionHero}}</p>
                    <a href="#avenidas" class="scroll-smooth animate__animated animate__fadeIn">{{textMock.textButtonHero}}</a>
            </div>

            <ul class="hero-content__lenguage">
                <li><a href="#" (click)="selectLanguaje('pt')" class="pt">{{textMock.linkEs}}</a></li>
                <li><a href="#" (click)="selectLanguaje('es')" class="es">{{textMock.linkPt}}</a></li>
            </ul>

            <div class="hero-content__image-wrapper">
                <img src="assets/image/hero/mancha.png" alt="" class="hero-content__image-wrapper--image1 animate__animated animate__fadeIn" />
                <img src="assets/image/hero/ciudad.png" alt="" class="hero-content__image-wrapper--image2 animate__animated animate__fadeInUp animate__delay-1s" />
                <img src="assets/image/hero/personas.png" alt="" class="hero-content__image-wrapper--image3 animate__animated animate__fadeInRight animate__delay-2s" />
                <img src="assets/image/hero/nubes/Group.png" alt="" class="hero-content__image-wrapper--image4 animate__animated animate__fadeInRight animate__delay-1s" />
                <img src="assets/image/hero/nubes/Group-1.png" alt="" class="hero-content__image-wrapper--image5 animate__animated animate__fadeInRight animate__delay-1s" />
                <img src="assets/image/hero/nubes/Group-2.png" alt="" class="hero-content__image-wrapper--image6 animate__animated animate__fadeInRight animate__delay-1s" />
                <img src="assets/image/hero/nubes/Group-3.png" alt="" class="hero-content__image-wrapper--image7 animate__animated animate__fadeInRight animate__delay-1s" />
                <img src="assets/image/hero/nubes/Group-4.png" alt="" class="hero-content__image-wrapper--image8 animate__animated animate__fadeInRight animate__delay-1s" />
                <img src="assets/image/hero/nubes/Group-5.png" alt="" class="hero-content__image-wrapper--image9 animate__animated animate__fadeIn animate__delay-1s" />
                <div class="hero-content__image-line"></div>
                
                <img src="assets/image/hero/scroll.gif" alt="mouse" class="hero-content__image-wrapper--image10" />
            </div>
        </div>
    </div>
</div>