 <!--hero-->
 <div class="hero-content " id="top">
    <div class="hero-content__background-color">
        <div class="wrapper-content">
            <div class="logo"><img src="../../../../assets/image/hero/logo.png" alt="logo"></div>
            <div class="hero-content__title">
                <p class="animate__animated animate__bounceInLeft">Descubre las...</p>
                <h1>Avenidas Estratégicas de Sistemas</h1>
                <p>En este portal podrás encontrar toda la información correspondiente a las iniciativas que se
                    desprenden de los objetivos que tiene la Gerencia Corporativa de Sistemas.</p>
                    <a href="#avenidas" class="scroll-smooth">Quiero conocer las Avenidas</a>
            </div>

            <ul class="hero-content__lenguage">
                <li><a href="#">Português</a></li>
                <li><a href="#">Español</a></li>
            </ul>

            <div class="hero-content__image-wrapper">
                <img src="../../assets/image/hero/mancha.png" alt="" class="hero-content__image-wrapper--image1" />
                <img src="../../assets/image/hero/ciudad.png" alt="" class="hero-content__image-wrapper--image2" />
                <img src="../../assets/image/hero/personas.png" alt="" class="hero-content__image-wrapper--image3" />
                <img src="../../assets/image/hero/nubes/Group.png" alt="" class="hero-content__image-wrapper--image4" />
                <img src="../../assets/image/hero/nubes/Group-1.png" alt="" class="hero-content__image-wrapper--image5" />
                <img src="../../assets/image/hero/nubes/Group-2.png" alt="" class="hero-content__image-wrapper--image6" />
                <img src="../../assets/image/hero/nubes/Group-3.png" alt="" class="hero-content__image-wrapper--image7" />
                <img src="../../assets/image/hero/nubes/Group-4.png" alt="" class="hero-content__image-wrapper--image8" />
                <img src="../../assets/image/hero/nubes/Group-5.png" alt="" class="hero-content__image-wrapper--image9" />
                <div class="hero-content__image-line"></div>
                
                <img src="../../assets/image/hero/scroll.gif" alt="mouse" class="hero-content__image-wrapper--image10" />
            </div>
        </div>
    </div>
</div>