<!--thumbnail section-->

<div class="wrapper-content">
  <div class="row">
    
    <div class="col-md-6">
      <div class="thumbnail-seccion-container__data">
          <h2 class="animate__animated animateFadeIn">{{ textMock.title }}</h2>
        <p class="animate__animated animateFadeUp">
          {{ textMock.description }}
        </p>
          <div class="thumbnail-seccion-container__action-buttons animate__animated align-left">
          <button (click)="handleGotoSubIniciative(item, avenida)" *ngFor="let item of avenida.iniciativas">{{item.title}}</button>
          </div>
      </div>
  </div>
    <div class="col-md-6">
      <img src="assets/image/Cyberseguridad-y-Compliance/mancha.png" alt="mancha"
          class="thumbnail-seccion__image-1 animate__animated animaterubberBand" />
      <img src="assets/image/Cyberseguridad-y-Compliance/lupa.png" alt="lupa"
          class="thumbnail-seccion__image-2 animate__animated animateZoomIn" />
      <img src="assets/image/Cyberseguridad-y-Compliance/escudo.png" alt="escudo"
          class="thumbnail-seccion__image-3 animate__animated animateFadeIn" />
      <img src="assets/image/Cyberseguridad-y-Compliance/candado.png" alt="candado"
          class="thumbnail-seccion__image-4 animate__animated animateFadeIn" />
      <img src="assets/image/Cyberseguridad-y-Compliance/anteojos.png" alt="anteojos"
          class="thumbnail-seccion__image-5 animate__animated animateFadeIn" />
  </div>
  </div>
</div>
