
.thumbnail-seccion__image-1{
    right: 126px;
    top: 38px;
}
.thumbnail-seccion__image-2{
    top: 96px;
    right: 258px;
    z-index: 1;
}
.thumbnail-seccion__image-3{
    top: 126px;
    right: 139px;
}
.thumbnail-seccion__image-4{
    right: 465px;
    top: 127px;
}
.thumbnail-seccion__image-5{
    right: 295px;
    top: 80px;
}
