<!--thumbnail section-->

<div class="wrapper-content">
    <div class="row">
        <div class="col-md-6">
            <div class="thumbnail-seccion-container__data">
                <h2>Cyberseguridad y Compliance</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                <div class="thumbnail-seccion-container__action-buttons">
                    <button>Compliance Regulatorio</button>
                    <button>Prevención de Cyberamenzas</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="../../assets/image/Cyberseguridad-y-Compliance/mancha.png" alt="mancha"
                class="thumbnail-seccion__image-1" />
            <img src="../../assets/image/Cyberseguridad-y-Compliance/lupa.png" alt="lupa"
                class="thumbnail-seccion__image-2" />
            <img src="../../assets/image/Cyberseguridad-y-Compliance/escudo.png" alt="escudo"
                class="thumbnail-seccion__image-3" />
            <img src="../../assets/image/Cyberseguridad-y-Compliance/candado.png" alt="candado"
                class="thumbnail-seccion__image-4" />
            <img src="../../assets/image/Cyberseguridad-y-Compliance/anteojos.png" alt="anteojos"
                class="thumbnail-seccion__image-5" />
        </div>

    </div>
</div>