<!--thumbnail section-->

<div class="wrapper-content">
    <div class="row">
        <div class="col-md-6">
            <div class="thumbnail-seccion-container__data ">
                <h2>{{avenida.title}}</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                <div class="thumbnail-seccion-container__action-buttons">
                    <button *ngFor="let item of avenida.iniciativas">{{item.title}}</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="../../assets/image/Estrategia-Tecnológica/cloud.png" alt="cloud"
                class="thumbnail-seccion__image-1" />
            <img src="../../assets/image/Estrategia-Tecnológica/mancha.png" alt="mancha"
                class="thumbnail-seccion__image-2" />
            <img src="../../assets/image/Estrategia-Tecnológica/persona-en-sillon.png" alt="persona-en-sillon"
                class="thumbnail-seccion__image-3" />
            <img src="../../assets/image/Estrategia-Tecnológica/persona-1.png" alt="persona-1"
                class="thumbnail-seccion__image-4" />
            <img src="../../assets/image/Estrategia-Tecnológica/persona-2.png" alt="persona-2"
                class="thumbnail-seccion__image-5" />
            <img src="../../assets/image/Estrategia-Tecnológica/persona-3.png" alt="persona-3"
                class="thumbnail-seccion__image-6" />
            <img src="../../assets/image/Estrategia-Tecnológica/persona-4.png" alt="persona-4"
                class="thumbnail-seccion__image-7" />
            <img src="../../assets/image/Estrategia-Tecnológica/planta.png" alt="planta"
                class="thumbnail-seccion__image-8" />
        </div>

    </div>
</div>