
.thumbnail-seccion__image-1{
    right: 580px;
    top: 184px;
}
.thumbnail-seccion__image-2{
    bottom: -39px;
    right: 189px;
}
.thumbnail-seccion__image-3{
    bottom: -39px;
    right: 185px;
}
.thumbnail-seccion__image-4{
    right: 394px;
    top: 79px;
}
.thumbnail-seccion__image-5{
    right: 238px;
    top: 27px;
}
.thumbnail-seccion__image-6{
    right: 366px;
    top: 174px;
}
.thumbnail-seccion__image-7{
    right: 210px;
    top: 125px;
}
.thumbnail-seccion__image-8{
    right: 285px;
    bottom: -37px;
}
