<!--thumbnail section-->

<div class="wrapper-content">
  <div class="row">
    <div class="col-md-6">
      <div class="thumbnail-seccion-container__data">
        <h2 class="animate__animated animateFadeIn">{{ textMock.title }}</h2>
        <p class="animate__animated animateFadeUp">
          {{ textMock.description }}
        </p>
        <div
          class="thumbnail-seccion-container__action-buttons animate__animated align-left"
        >
          <button
            (click)="handleGotoSubIniciative(item, avenida)"
            *ngFor="let item of avenida.iniciativas"
          >
            {{ item.title }}
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <img
        src="assets/image/Estrategia-Tecnologica/cloud.png"
        alt="cloud"
        class="thumbnail-seccion__image-1"
      />
      <img
        src="assets/image/Estrategia-Tecnologica/mancha.png"
        alt="mancha"
        class="thumbnail-seccion__image-2 animate__animated animaterubberBand"
      />
      <img
        src="assets/image/Estrategia-Tecnologica/persona-en-sillon.png"
        alt="persona-en-sillon"
        class="thumbnail-seccion__image-3"
      />
      <img
        src="assets/image/Estrategia-Tecnologica/persona-1.png"
        alt="persona-1"
        class="thumbnail-seccion__image-4 animate__animated animateFadeUp"
      />
      <img
        src="assets/image/Estrategia-Tecnologica/persona-2.png"
        alt="persona-2"
        class="thumbnail-seccion__image-5 animate__animated animateFadeUp"
      />
      <img
        src="assets/image/Estrategia-Tecnologica/persona-3.png"
        alt="persona-3"
        class="thumbnail-seccion__image-6 animate__animated animateFadeUp"
      />
      <img
        src="assets/image/Estrategia-Tecnologica/persona-4.png"
        alt="persona-4"
        class="thumbnail-seccion__image-7 animate__animated animateFadeUp"
      />
      <img
        src="assets/image/Estrategia-Tecnologica/planta.png"
        alt="planta"
        class="thumbnail-seccion__image-8"
      />
    </div>
  </div>
</div>
