<!--thumbnail-->
<!-- <app-hero [lenguaje]="false"></app-hero> -->
<div id="top"></div>
<app-nav [stickyNav]="stickyNav"></app-nav>
<div class="thumbnail-container wrapper-content">
  <h2>{{ avenuePath }}</h2><a href="{{volverPath}}">volver</a>
  <h2>{{description}}</h2>
  <div class="row">
    <div class="col-sm-4" *ngFor="let sub of subIniciatives">
      <div
        class="thumbnail-container__card card-button"
        (click)="handleGoToSudIniciativeDetail(sub)"
      >
        <div class="thumbnail-container__card-image">
          <img src="{{ sub.src }}" />
        </div>
        <div class="thumbnail-container__card-text">
          <h2>{{ sub.title }}</h2>
          <p>{{ sub.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
