/*section items*/
.listItems-section{
    padding: 50px 0 85px;
    min-height: 553px;
}
.listItems-section h1{
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 45px;
    /* or 129% */
    text-align: center;
    letter-spacing: -0.0384615em;
    color: #000000;
    margin-bottom:10px;
}
.listItems-section p{
    width: 515px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    /* or 179% */
    margin:auto;
    text-align: center;
    color: #000000;
    margin-bottom:25px;
}
.listItems-section .title-image{
    position: absolute;
    left: -76px;
    top: 161px;
    width: 45px;
}
.listItems-section__title-items{
    width: 100%;
    min-height: 129px;
    border-bottom: 1px solid #0089FF;
    margin-bottom: 14px
}
.listItems-section__title-items.item-3{
    min-height: 123px;
}
.listItems-section__title-items.item-3 h2{
    margin-bottom: 12px;
}
.listItems-section__title-items img{
    position: relative;
    display: block;
    margin:0 auto;
}
.listItems-section__title-items img.circle-icon-3{
    margin:0 auto 0px auto;
}
.listItems-section__title-items h2{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #0089FF;
    letter-spacing: 0.5px;
    width: 120px;
    margin: auto;
}
.listItems-section ul{
    list-style-type: circle;
    padding-left:13px;
}
.listItems-section ul li{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    margin-bottom:15px;
    display: list-item;
}