<div>
<app-nav></app-nav>
<app-hero></app-hero>
<!--list items section-->
<div id="avenidas"></div>
<section class="seccion-container listItems-section" >
    <div class="wrapper-content"> 
        <h1 class="animate__animated">Nuestras Avenidas</h1>
        <p>El portal esta compuesto por <b>6</b> objetivos llamados avenidas, de las cuales se desprenden <b>15</b> iniciativas clave y <b>76</b> sub-iniciativas.</p>
        <img src="assets/image/title-image.svg" alt="" class="title-image"> 
        <div class="row" >
            <div class="col-sm-2" *ngFor="let item of avenidas">
                <div class="listItems-section__title-items">
                    <img src={{item.src}} alt="" class={{item.class}}>
                    <h2>{{item.title}}</h2>
                </div> 
                <ul *ngFor="let subItem of item.iniciativas">
                    <li>{{subItem.title}}</li>
                </ul>   
            </div>
        </div>
    </div>
</section>
<!--list items section-->

<!--section customer-centricity-->
<section class="thumbnail-seccion-container color-orange">
<app-customer-centricity [avenida]="itemsAvenidas.item1"></app-customer-centricity>
<!-- <app-sub-initiatives-detail></app-sub-initiatives-detail> -->
<!-- <app-sub-initiatives></app-sub-initiatives> -->
</section>
<!--section customer-centricity-->

<!--section cybersecurity-compliance-->
<section class="thumbnail-seccion-container">
<app-cybersecurity-compliance [avenida]="itemsAvenidas.item2"></app-cybersecurity-compliance>
</section>
<!--section cybersecurity-compliance-->

<!--section digital-strategy-->
<section class="thumbnail-seccion-container color-blue">
<app-digital-strategy [avenida]="itemsAvenidas.item3"></app-digital-strategy>
</section>
<!--section digital-strategy-->

<!--section technological-strategy-->
<section class="thumbnail-seccion-container color-blue bkg-white">
<app-technological-strategy [avenida]="itemsAvenidas.item4"></app-technological-strategy>
</section>
<!--section technological-strategy-->

<!--section talent-management-->
<section class="thumbnail-seccion-container color-orange">
<app-talent-management [avenida]="itemsAvenidas.item5"></app-talent-management>
</section>
<!--section talent-management-->

<!--section new-itmodel-->
<section class="thumbnail-seccion-container">
<app-new-itmodel [avenida]="itemsAvenidas.item6"></app-new-itmodel>
</section>
<!--section new-itmodel-->



<a href="#top" class="icon-button-top scroll-smooth" id="arrow"><img src="../../assets/image/back-to-top.png" alt="arrow top"></a>





