
.thumbnail-seccion__image-1{
    left: 95px;
    top: 20px;
}
.thumbnail-seccion__image-2{
    top: 253px;
    left: 132px;
}
.thumbnail-seccion__image-3{
    top: 74px;
    left: 120px;
}
.thumbnail-seccion__image-4{
    left: 441px;
    top: -1px;
}
.line-customer{
    width: 449px;
    height: 2px;
    left: 108px;
    bottom: 1px;
    position: absolute;
    background-color: #333;
}