<!--thumbnail section-->

<div class="wrapper-content">
  <div class="row">
    <div class="col-md-6">
      <img
        src="assets/image/Customer-Centricity/mancha.png"
        alt="mancha"
        class="thumbnail-seccion__image-1"
      />
      <img
        src="assets/image/Customer-Centricity/mueble.png"
        alt="mueble"
        class="thumbnail-seccion__image-2"
      />
      <img
        src="assets/image/Customer-Centricity/persona-con-tablet.png"
        alt="persona-con-tablet"
        class="thumbnail-seccion__image-3"
      />
      <img
        src="assets/image/Customer-Centricity/ventana.png"
        alt="ventana"
        class="thumbnail-seccion__image-4"
      />
    </div>
    <div class="col-md-6">
      <div class="thumbnail-seccion-container__data">
        <h2 class="animate__animated">{{ avenida.title }}</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor
        </p>
        <div class="thumbnail-seccion-container__action-buttons">
          <button
            *ngFor="let item of avenida.iniciativas"
            (click)="handleGotoSubIniciative(item, avenida.title)"
          >
            {{ item.title }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
