<!--thumbnail section-->

<div class="wrapper-content">
    <div class="row">
        <div class="col-md-6">
            <img src="../../assets/image/Estrategia-Digital/celular.png" alt="celular"
                class="thumbnail-seccion__image-1" />
            <img src="../../assets/image/Estrategia-Digital/check.png" alt="check" class="thumbnail-seccion__image-2" />
            <img src="../../assets/image/Estrategia-Digital/mancha.png" alt="mancha"
                class="thumbnail-seccion__image-3" />
            <img src="../../assets/image/Estrategia-Digital/persona.png" alt="persona"
                class="thumbnail-seccion__image-4" />
            <img src="../../assets/image/Estrategia-Digital/planta.png" alt="planta"
                class="thumbnail-seccion__image-5" />
            <img src="../../assets/image/Estrategia-Digital/qr.png" alt="qr" class="thumbnail-seccion__image-6" />
            <img src="../../assets/image/Estrategia-Digital/reloj.png" alt="reloj" class="thumbnail-seccion__image-7" />
            <img src="../../assets/image/Estrategia-Digital/text.png" alt="text" class="thumbnail-seccion__image-8" />
        </div>
        <div class="col-md-6">
            <div class="thumbnail-seccion-container__data">
                <h2>{{avenida.title}}</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                <div class="thumbnail-seccion-container__action-buttons">
                <button *ngFor="let item of avenida.iniciativas">{{item.title}}</button>
                </div>
            </div>
        </div>
    </div>
</div>