<!--menu-->
<div class='nav-content {{stickyNav}}' id="myHeader">
    <div class="wrapper-content">
        <nav class="home-nav active-nav">
            <ul >
                <li><a href="#Customer-Centricity" class="scroll-smooth lk">centricityConsumer<i class="arrow down"></i></a>
                    <!-- <div class="submenu">submenu1</div> -->
                </li>
                <li><a href="#Cyberseguridad-y-Compliance" class="scroll-smooth lk">cybersecurity<i class="arrow icon-2 down"></i></a>
                    <!-- <div class="submenu">submenu2</div> -->
                </li>
                <li><a href="#Estrategia-Digital" class="scroll-smooth lk">digitalStrategy<i class="arrow down"></i></a>
                    <!-- <div class="submenu">submenu3</div> -->
                </li>
                <li class="logo-item"><a href="#top" class="scroll-smooth"><img src="assets/image/hero/logo.png" alt="logo"></a></li>
                <li><a href="#Estrategia-Tecnologica" class="scroll-smooth lk">technologyStrategy<i class="arrow down"></i></a>
                    <!-- <div class="submenu">submenu4</div> -->
                </li>
                <li><a href="#Gestion-de-Talento" class="scroll-smooth lk">talentManagement<i class="arrow down"></i></a>
                    <!-- <div class="submenu">submenu5</div> -->
                </li>
                <li><a href="#Nuevo-Modelo-TI" class="scroll-smooth lk">newITModel<i class="arrow down"></i></a>
                    <!-- <div class="submenu">submenu6</div> -->
                </li>
            </ul>
            
        </nav>
        <nav class="sticky-nav">
            <ul class="nav-styky">
                <li><a href="#Customer-Centricity" class=" lk">centricityConsumer<i class="arrow down"></i></a>
                    <!-- <div class="submenu">submenu1</div> -->
                </li>
                <li><a href="#Cyberseguridad-y-Compliance" class=" lk">cybersecurity<i class="arrow icon-2 down"></i></a>
                    <!-- <div class="submenu">submenu2</div> -->
                </li>
                <li><a href="#Estrategia-Digital" class=" lk">digitalStrategy<i class="arrow down"></i></a>
                    <!-- <div class="submenu">submenu3</div> -->
                </li>
                <li class="logo-item"><a href="#top" class=""><img src="assets/image/hero/logo.png" alt="logo"></a></li>
                <li><a href="#Estrategia-Tecnologica" class=" lk">technologyStrategy<i class="arrow down"></i></a>
                    <!-- <div class="submenu">submenu4</div> -->
                </li>
                <li><a href="#Gestion-de-Talento" class=" lk">talentManagement<i class="arrow down"></i></a>
                    <!-- <div class="submenu">submenu5</div> -->
                </li>
                <li><a href="#Nuevo-Modelo-TI" class=" lk">newITModel<i class="arrow down"></i></a>
                    <!-- <div class="submenu">submenu6</div> -->
                </li>
            </ul>
        </nav>
    </div>
</div>

