<!--menu-->
<div class='nav-content {{sticky}}' id="myHeader">
    <div class="wrapper-content">
        <nav>
            <ul>
                <li><a href="#Customer-Centricity" class="scroll-smooth lk section-lk-1">Customer Centricity<i class="arrow down"></i></a>
                    <!-- <div class="submenu">submenu1</div> -->
                </li>
                <li><a href="#Cyberseguridad-y-Compliance" class="scroll-smooth lk section-lk-2">Cyberseguridad y Compliance<i class="arrow icon-2 down"></i></a>
                    <!-- <div class="submenu">submenu2</div> -->
                </li>
                <li><a href="#Estrategia-Digital" class="scroll-smooth lk section-lk-3">Estrategia Digital<i class="arrow down"></i></a>
                    <!-- <div class="submenu">submenu3</div> -->
                </li>
                <li class="logo-item"><a href="#top" class="scroll-smooth"><img src="assets/image/hero/logo.png" alt="logo"></a></li>
                <li><a href="#Estrategia-Tecnologica" class="scroll-smooth lk section-lk-4">Estrategia Tecnológica<i class="arrow down"></i></a>
                    <!-- <div class="submenu">submenu4</div> -->
                </li>
                <li><a href="#Gestion-de-Talento" class="scroll-smooth lk section-lk-5">Gestión de Talento<i class="arrow down"></i></a>
                    <!-- <div class="submenu">submenu5</div> -->
                </li>
                <li><a href="#Nuevo-Modelo-TI" class="scroll-smooth lk section-lk-6">Nuevo Modelo TI<i class="arrow down"></i></a>
                    <!-- <div class="submenu">submenu6</div> -->
                </li>
            </ul>
        </nav>
    </div>
</div>

