<!--menu-->
<div class="nav-content" id="myHeader">
    <div class="wrapper-content">
        <nav>
            <ul>
                <li><a href="#">Customer Centricity<i class="arrow down"></i></a>
                    <!-- <div class="submenu">submenu1</div> -->
                </li>
                <li><a href="#">Cyberseguridad y Compliance<i class="arrow icon-2 down"></i></a>
                    <!-- <div class="submenu">submenu2</div> -->
                </li>
                <li><a href="#">Estrategia Digital<i class="arrow down"></i></a>
                    <!-- <div class="submenu">submenu3</div> -->
                </li>
                <li class="logo-item"><a href="#"><img src="../../../../assets/image/hero/logo.png" alt="logo"></a></li>
                <li><a href="#">Estrategia Tecnológica<i class="arrow down"></i></a>
                    <!-- <div class="submenu">submenu4</div> -->
                </li>
                <li><a href="#">Gestión de Talento<i class="arrow down"></i></a>
                    <!-- <div class="submenu">submenu5</div> -->
                </li>
                <li><a href="#">Nuevo Modelo TI<i class="arrow down"></i></a>
                    <!-- <div class="submenu">submenu6</div> -->
                </li>
            </ul>
        </nav>
    </div>
</div>

