<!--thumbnail detail-->
<!-- <app-hero [lenguaje]="false"></app-hero>  -->
<app-nav [sticky]="sticky"></app-nav>
<div class="thumbnail-detail-container">
    <div class="wrapper-content">
        <h1>{{detail.title}}</h1>
        <p>{{detail.description}}</p>
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-7">
                        <div class="thumbnail-detail-container__image-container">
                            <img src="{{detail.src}}" />
                        </div>
                    </div>
                    <div class="col-md-5">
                        <ul class="thumbnail-detail-container__detaild-items">
                            <li><b>Responsable sub iniciativa: </b>{{detail.responsable}}</li>
                            <li><b>Estado: </b>{{detail.state}}</li>
                            <li><b>Impacto: </b>{{detail.impact}}</li>
                            <li><b>Alcance: </b>{{detail.scope}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h3>Archivos disponibles</h3>
                <ul class="thumbnail-detail-container__icon-file">
                    <li><a><img src="assets/image/file-txt.png"/></a></li>
                    <li><a><img src="assets/image/file-txt.png"/></a></li>
                    <li><a><img src="assets/image/file-txt.png"/></a></li>
                    <li><a><img src="assets/image/file-txt.png"/></a></li>
                    <li><a><img src="assets/image/file-txt.png"/></a></li>
                </ul>
                <button>Conozca la Iniciativa</button>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>