/*card thumbnail component detail*/
.thumbnail-detail-container{
    margin:45px 0 0 0;
}
.thumbnail-detail-container h1{
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    line-height: 58px;
    /* or 126% */
    letter-spacing: -0.0384615em;
    color: #000000;
    margin-bottom:15px;
}
.thumbnail-detail-container h3{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
    /* or 214% */
    color: #000000;
    margin: 50px 0 10px 0;
}
.thumbnail-detail-container p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    /* or 187% */
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin-bottom:60px;
    width: 100%;
}
.thumbnail-detail-container__image-container{
    overflow:hidden;
    border-radius: 12px;
    max-height:239px;
    position: relative;
}
.thumbnail-detail-container__image-container img{
    width:100%;
    position:relative;
}
.thumbnail-detail-container__detaild-items{
    margin-top:62px;
}
.thumbnail-detail-container__detaild-items li{
    font-style: normal;
    font-size: 14px;
    line-height: 30px;
    align-items: center;
    color: #000000;
}

.thumbnail-detail-container__icon-file{
    margin-bottom: 10px;
    overflow: hidden;
    min-height: 59px;
}
.thumbnail-detail-container__icon-file li{
    display:inline-block;
    margin: 7px 14px 0 0;
    
}
.thumbnail-detail-container__icon-file li img{
    position: relative;
}

.thumbnail-detail-container button{
    width: 198px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 28.5px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    /* or 133% */
    text-align: center;
    border: 1px solid #FF8F17;
    color: #FF8F17;
}
.thumbnail-detail-container button:hover{
    background: #FF8F17;
    box-shadow: 0px 6px 12px rgba(255, 143, 23, 0.2);
    color: #FFFFFF;
}