
.thumbnail-seccion__image-1{
    left: 272px;
    top: 39px;
}
.thumbnail-seccion__image-2{
    top: 93px;
    left: 76px;
}
.thumbnail-seccion__image-3{
    top: 66px;
    left: 202px;
}
.thumbnail-seccion__image-4{
    left: 118px;
    bottom: -44px;
}
.thumbnail-seccion__image-5{
    left: 475px;
    top: 267px;
}