<!--thumbnail section-->

<div class="wrapper-content">
    <div class="row">
        <div class="col-md-6">
            <img src="../../assets/image/Gestión-de-Talento/cv.png" alt="cv" class="thumbnail-seccion__image-1" />
            <img src="../../assets/image/Gestión-de-Talento/ladrillos.png" alt="ladrillos"
                class="thumbnail-seccion__image-2" />
            <img src="../../assets/image/Gestión-de-Talento/luz.png" alt="luz" class="thumbnail-seccion__image-3" />
            <img src="../../assets/image/Gestión-de-Talento/persona.png" alt="persona"
                class="thumbnail-seccion__image-4" />
            <img src="../../assets/image/Gestión-de-Talento/planta.png" alt="planta"
                class="thumbnail-seccion__image-5" />
        </div>
        <div class="col-md-6">
            <div class="thumbnail-seccion-container__data">
                <h2 class="animate__animated">Gestión de Talento</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                <div class="thumbnail-seccion-container__action-buttons">
                    <button>Atracción, retención y Desarrollo de Talento</button>
                    <button>Identificación y Gestión de Talento</button>
                    <button>Plan de Reconocimiento</button>
                </div>
            </div>
        </div>
    </div>
</div>