<!--thumbnail section-->

<div class="wrapper-content" >
    <div class="row">
        <div class="col-md-6">
            <img src="assets/image/Gestion-de-Talento/cv.png" alt="cv" class="thumbnail-seccion__image-1 animate__animated animateFadeUp" />
            <img src="assets/image/Gestion-de-Talento/ladrillos.png" alt="ladrillos"
                class="thumbnail-seccion__image-2" />
            <img src="assets/image/Gestion-de-Talento/luz.png" alt="luz" class="thumbnail-seccion__image-3 animate__animated animaterubberBand" />
            <img src="assets/image/Gestion-de-Talento/persona.png" alt="persona"
                class="thumbnail-seccion__image-4" />
            <img src="assets/image/Gestion-de-Talento/planta.png" alt="planta"
                class="thumbnail-seccion__image-5" />
        </div>
        <div class="col-md-6">
            <div class="thumbnail-seccion-container__data">
                <h2 class="animate__animated animateFadeIn">{{avenida.title}}</h2>
                <p class="animate__animated animateFadeUp">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                <div class="thumbnail-seccion-container__action-buttons animate__animated align-right">
                <button *ngFor="let item of avenida.iniciativas">{{item.title}}</button>
                </div>
            </div>
        </div>
    </div>
</div>